<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookLib.My.MySettings.MyConn2" connectionString="server=localhost;user id=johan_fj;persistsecurityinfo=True;database=booklib"
            providerName="MySql.Data.MySqlClient" />
        <add name="BookLib.My.MySettings.booklibConnectionString" connectionString="server=localhost;user id=johan_fj;database=booklib;password=johan;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>